<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movie Review App</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <!-- <li><a href="" routerLink = '/login'><i class="fa fa-sign-in"></i> User Login</a></li> -->
      
      <li *ngIf="!isLoggedIn"><a href="" routerLink = '/login'><i class="fa fa-sign-in"></i> Login</a></li>
      <li *ngIf = 'isLoggedIn ' class="dropdown"><a href="" class="dropdown-toggle" data-toggle='dropdown'>{{isloggedInUser}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngIf = "profile.role !=='guest'"><a href="" routerLink='/admin-dashboard'>Dashboard</a></li>
          <li *ngIf = "profile.role ==='guest'"><a href="" routerLink='/user-profile'>Profile</a></li>
          <li *ngIf = "profile.role ==='guest'"><a href="" routerLink='/favourate'>Favourates</a></li>
          <li *ngIf = "profile.role ==='guest'"><a href="" routerLink='/change-password'>Change Password</a></li>
          <li *ngIf = 'isLoggedIn'><a href="#" (click) = "onLogout()"><span class="glyphicon glyphicon glyphicon-off"></span> Logout</a>
        </ul>
      </li>
      <!-- <li *ngIf = 'isLoggedIn'><a href="#" routerLink = "/user-profile" ><h4>{{isloggedInUser}}</h4></a></li> -->
     
    </ul>
  </div>
</nav>