.poster{
	float: left;
	margin: 15px;
	height: 305px;
	width: 280px;
	overflow: hidden;
}
.poster img{
	margin: 0 auto;
	max-width: 80%;
	box-shadow: 5px 7px 9px grey;
	padding: 0px;
}
li{
	list-style: none;
}
.card{

}
.cast-image img{
	max-width: 100%;
	margin: 0 auto;
	max-height: 100%;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
.cast-image{

	height: 150px;
	width: 150px;
	display: grid;
	margin: 0 auto;
}
.remove{
	color:red;
}
.userEmail{
	color: blue;
}
.fa-user{
	color: grey;
}
.noTrailer{
	color: red;
	text-align: center;
}
.video{
	margin-top: 40px;
}