.image-container{
    height: 250px;
    width: 250px;
    display: grid;
    margin:0px 100px 0px 40px;
    position: relative;
}
.remove{
    color: red;
    position: absolute;
    right: 0;
    text-decoration: none;
    padding-top: 25px;
   
}
.dropzone-div{
	background-color: #f2f2f2;
	height: 100px;
    width: 200px;
    position: relative;
    border: 1px dotted black;
    margin-top: 30px;
}
.dropzone-text{
	
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.castDiv{
    background-color: #f2f2f2;
    height: 100px;
    width: 150px;
    position: relative;
    border: 1px dotted black;
    margin-top: inherit;
}
.castSpan{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.cast{
    margin-top: 20px;
}
.addCast{
   /* position: relative;*/
    left: 155px;
    bottom:100px;
}
.castName{
    margin-bottom: 5px;
}
.removeCastImage{
    color: red;
    position: absolute;
    right: 0;
    text-decoration: none;
    padding-top: 25px;
}
.castImage-container{
    height: 250px;
    width: 250px;
    display: grid;
    margin:0px 100px 0px -25px;
    position: relative;
}
.castImage-container img{
  max-width: 60%; 
}
img{
    max-width: 80%
}
.req{
    color: red;
}
.movieTrailer{
    margin-top: 25px;
}
h6{
    color: red;
}
.loader{

  position: absolute;
  left: 170%;
  top: 220%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 6px solid white;
  border-radius: 50%;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


