li{
	list-style: none;
}
img{
	max-width: 80%;
	margin: 0 auto;
	padding: 10px;

}
.image-container{
	height: 300px;
	width: 280px;
	display: grid;
	margin: 0 auto;
	/*padding: 0px;*/
}
h5,h3{
	text-align: center;
}
.panel-body{
	padding: 0px;
}
h4{
	color: red;
	text-align: center;
}

