.category{
	background-color: #C0C0C0;

}
.nav{
	float: left;
    width: 260px;
    height: 700px;
    margin: 0;
    /*padding: 1em;*/
}
h5{
	/*margin: 10px;*/
	text-align: center;
}
.cat{
	text-align: center;
}
h5{
    /*background:#D3D3D3;*/
    padding: 5px;
}
h5:hover {
    background: #A9A9A9;
    padding: 5px;
    
}
a{
	text-decoration: none;
}
