.adminLogin{
	float: right;
    margin: 0 0 10px 10px;
    font-weight: bold;

}
.google {
    background-color: #dd4b39 !important;
  }
.facebook {
    background-color: #006699 !important;
  }
.password{
	align-self: center;
}
h4{
	text-align: center;
	margin:5px;
}
.email{
	margin-bottom: 6px;
}