<div id="moviesCataegories" class="cataegory">
	<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
	<div>
		<h4>Movies Category</h4>
		<a href="" *ngFor='let cat of categories' [routerLink] = "['/genre/'+cat.name]"><li><h5>{{cat.name}}</h5></li></a>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<span class="sidebar" (click)="openNav()">&#9776;Movie Categories</span>
	</div>
</div>
<div class="container">
	<div class="row">
		<div>
			<ul>
				<li *ngFor="let m of movies let i = index " (click) = 'activeIndex=i' class=" col-md-4">
					<div class="panel panel-warning" >
						<div>
							<span (click)='onAddUserFavourite(i)'><i class="glyphicon glyphicon-heart favourite pull-right" [ngClass]="{active:activeIndex === i}" (click)='favourite = !favourite'  ></i></span>
						</div>
						<div class="panel-body">
							<div class="container image-container">
								<img src="{{m.movieImage}}" >
							</div>
							<div>
								<span><h5>{{m.movieTitle}}</h5></span>
							</div>
						</div>
						<div class="panel-footer">
							<a href="" [routerLink] ="['/movie-detail/'+m.$key]" >View Details...</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
