li{
	list-style: none;
}
img{
	max-width: 100%;
	margin: 0 auto;

}
.image-container{
	height: 300px;
	width: 300px;
	display: grid;
	margin: 0 auto;
	/*padding: 0px;*/
}
h5 {
	text-align: center;
}
h4{
    text-align: center;
    color: white;
}
.panel-body{
	padding: 0px;
}
.favourite{
	margin: 10px 10px 0 0;
	color: darkgrey;
}
.active{
	color: red;
}

.cataegory {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.cataegory a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.cataegory a:hover {
    color: #f1f1f1;
}

.cataegory .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar{
    font-size:30px;
    cursor:pointer;
    
   /* width: 260px;
    height: 700px;*/
    margin-left: -300px;
}

