li{
	list-style: none;
}
img{
	max-width: 80%;
	margin: 0 auto;
	padding: 10px;
}
.image-container{
	height: 300px;
	width: 280px;
	display: grid;
	margin: 0 auto;
}
h3{
	text-align: center;
	color:red;
}
.delete{
	color: red;
	
}
h4{
	text-align: center;
	
}
