<div >
	<a href="#" routerLink = '' class="btn btn-link"><span class="glyphicon glyphicon-arrow-left"></span> Back to Main Page</a>
</div>
<div class="container">
	<div class="row" *ngIf='movie?.length >0; else noMovie'>
		<div>
			<ul>
				<li *ngFor='let mov of movie' class="col-md-4 col-xs-12" >
					<div class="panel panel-primary">
						
						<div class="panel-body">
							<div><a  data-toggle="tooltip" data-placement="top" title="Remove as Favourite" class="glyphicon glyphicon-remove pull-right delete" (click)= "onRemoveFavourate(mov)"></a></div>
							<div class="container image-container" [routerLink] ="['/movie-detail/'+mov.$key]">
								<img  src="{{mov.movieImage}}" >
							</div>
							<div>
								<span><h4>{{mov.movieTitle}}</h4></span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<ng-template #noMovie>
	<h3>No favourites to show</h3>
</ng-template>