/* You can add global styles to this file, and also import other style files */
.dz-preview{
	display:none !important;
}

app-categories{
	background-color:#D2691E;
}
body{
	background-color: lightgrey;
}


